/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
body {
    font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
    font-size: 12px;
    padding: 0; margin: 0;
    line-height: 2em;
    background: #d6d6d6 url('img/bg-gradient.jpg') repeat-x;
}
.frt {
    float: right;
}
.flt {
    float: left;
}
.sh {
    display: none;
}
.cl {
    clear: both;
}
.center {
    display: block;
    width: 100%;
    text-align: center;
}
.hide {
    display: none;
}

a, a:visited {
    color: #00f;
    outline: none;
}

/*****************************************************************************/
/*
/* Pager
/*
/*****************************************************************************/
.pager {
    position: absolute;
    width: 100%;
    bottom: 0;
    list-style: none;
    padding: 0.5em 0 0 0;
    text-align: center;
}
.pager li {
    display: inline;
    list-style: none;
}
.pager a, .pager span {
    text-align: center;
    display: inline-block;
    padding: 0 0.5em;
    margin: 0;
    text-decoration: none;
    color: #000;
    outline: 0;
}
.pager a:hover
, .pager .current {
    color: #c12;
}

/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/
#content {
    width: 100%;
}
.nojs {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -50px;
    padding-top: 25px;
    text-align: center;
    width: 600px;
    height: 50px;
    -moz-box-shadow: 1px 1px 12px #000;
    -webkit-box-shadow: 1px 1px 12px #000;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    background: #f5fcf2;
}

.loading {
    display: none;
    width: 100%;
    background: url('img/wait2.gif') no-repeat center;
    opacity: 0.5;
    filter:alpha(opacity=50);
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    position: absolute;
    top: 0;
    padding: 1em 0;
    right: 0;
}

.spin {
    width: 15px;
    height: 15px;
    background: url('img/spin.gif');
    display: inline-block;
    margin-left: -18px;
}

/*****************************************************************************/
/*
/* Task box
/*
/*****************************************************************************/
.task-box {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -300px;
    height: 300px;
    min-height: 300px;
    width: 600px;
    -moz-box-shadow: 1px 1px 12px #000;
    -webkit-box-shadow: 1px 1px 12px #000;
    -moz-border-radius-topleft: 16px;
    -moz-border-radius-topright: 16px;
    -webkit-border-top-left-radius: 16px;
    -webkit-border-top-right-radius: 16px;
    background: #f5fcf2;
}

.task-box .notasks {
    text-align: center;
    padding: 2em 0;
}

.task-box .title {
    text-align: center;
    margin: 0.5em auto;
    padding-bottom: 0.3em;
    width: 140px;
    font-family: Georgia, freeserif, serif;
    font-size: 26px;
    font-weight: normal;
}

.task-box .groups:hover .title {
    -moz-border-radius-topleft: 16px;
    -moz-border-radius-topright: 16px;
    -webkit-border-top-left-radius: 16px;
    -webkit-border-top-right-radius: 16px;
    background: #eee;
}

.task-box .groups {
    position: relative;
}
.task-box .groups:hover ul {
    display: block;
}
.task-box .groups ul {
    display: none;
    list-style: none;
    width: 140px;
    list-style: none;
    line-height: 30px;
    margin: 0 0 0 -70px;
    padding: 0.2em 0 0.5em;
    top: 100%; left: 50%;
    position: absolute;
    background: #eee;
    z-index: 10;
    -moz-border-radius-bottomleft: 16px;
    -moz-border-radius-bottomright: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -webkit-border-bottom-right-radius: 16px;
}
.task-box .groups ul a {
    line-height: 1.8em;
    display: block;
    list-style: none;
    padding: 0 1em;
    margin: 0.5em 0;
    text-decoration: none;
}

/* task table */
.task-table {
    width: 100%;
    margin: 0 auto;
}
.task-table .row {
    clear: both;
    height: 30px;
}
.task-table .row .td {
    float: left;
    padding: 0.3em 0.5em;
    height: 1.4em;
    margin: 0;
}
.task-table a {
    text-decoration: none;
    color: #00f;
}
.task-table input[type="text"] {
    width: 100%;
    border: 1px solid #d2e8c8;
}
.task-table .row:hover .sh {
    display: block;
}
.task-table .td span {
    display: block;
    height: 2em;
    overflow: hidden;
}
.editable .success {
    float: right;
    text-decoration: none !important;
    z-index: 1;
    top: -3em;
}
.task-table .td.followers span {
    display: inline;
}
.task-table .s {
    width: 1em;
    padding: 0;
    margin: 0;
}
.task-table .md {
    padding: 0;
    margin: 0.35em 0.1em;
}
.task-table .p {
    width: 0.8em;
    height: 2em;
}
.task-table .pri_1 {
    background: url('img/high.png') no-repeat center 0.8em;
}
.task-table .pri_2 {
    background: url('img/med.png') no-repeat center 0.8em;
}
.task-table .text {
    width: 399px;
}
.task-table .text span {
    padding: 0 0.2em;
    width: 399px;
}
.task-table .text .g {
    color: #c12;
}
.done .text span {
    text-decoration: line-through;
}
.task-table .row:hover .text {
}
.task-table .row:hover .text span {
    background: #d5dcd2;
    height: auto;
    position: absolute;
    overflow: visible;
    z-index: 1;
}
.loadbar .text span {
    background: url('img/loadbar.gif') no-repeat right;
}
.row:hover.loadbar .text span {
    background: #d5dcd2 url('img/loadbar.gif') no-repeat right;
}
.task-table .due {
    width: 7em;
    text-align: right;
}
.task-table .followers {
    width: 0.8em;
    height: 2em;
    background: url('img/high.png') no-repeat center 0.8em;
    position: relative;
}
.task-table .followers ul {
    display: none;
    width: 120px;
    list-style: none;
    line-height: 30px;
    margin: 0;
    padding: 0;
    top: 0; left: 20px;
    position: absolute;
    background: #eee;
    z-index: 10;
}
.task-table .followers * {
    cursor: pointer;
}
.task-table .followers li {
    list-style: none;
    padding: 0 0.25em;
    margin: 0;
}
.task-table .followers:hover ul {
    display: block;
}
.task-table .del {
    width: 1em;
}
.task-table .del-link {
    height: 2em;
    width: 6px;
    text-indent: -9999px;
    background: url('img/delete.png') no-repeat center;
}
.task-table .row:hover {
    background-color: #d5dcd2;
}
.task-table .row.notme {
    background-color: #e5ece2;
}


/*****************************************************************************/
/*
/* Work box
/*
/*****************************************************************************/
.work-box {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: 315px;
    height: 300px;
    min-height: 300px;
    padding: 1em;
    width: 300px;
    -moz-box-shadow: 1px 1px 12px #000;
    -webkit-box-shadow: 1px 1px 12px #000;
    -moz-border-radius-bottomleft: 16px;
    -moz-border-radius-bottomright: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -webkit-border-bottom-right-radius: 16px;
    background: #f5fcf2;
}

.work-box .title {
    text-align: center;
    margin: 16px auto 0 auto;
    padding-bottom: 0.3em;
    font-family: Georgia, freeserif, serif;
    font-size: 26px;
    font-weight: normal;
}
.work-box label {
    cursor: pointer;
    display: inline-block;
    padding: 0.3em;
}

.work-box div.label {
    display: inline-block;
}

.work-box textarea {
    width: 290px;
    border: 1px solid #d2e8c8;
}
.work-box input[type="text"] {
    width: 9em;
    border: 1px solid #d2e8c8;
}

.work-box .share {
    position: relative;
}
.work-box .share ul {
    list-style: none;
    position: absolute;
    top: 33px;
    display: none;
    background: #fff;
    width: 125px;
    padding: 0;
    border: 1px solid #ccc;
}
.work-box .share li span {
    display: inline-block;
    width: 90px;
}
.work-box .share li:hover,
.work-box .share li.active {
    background: #eee;
}
.work-box .share input {
    cursor: pointer;
}
.work-box .share:hover ul {
    display: block;
}
.work-box .share input[type="text"] {
    background: #eee;
}

.work-box .priority span {
    cursor: pointer;
}
.work-box .priority .p {
    border: 1px solid #f5fcf2;
    padding: 0 0.3em;
}
.work-box .priority .s {
    border-color: #d2e8c8;
}
.work-box .priority img {
    position: relative;
    top: 0.15em;
}

.work-box input[type="submit"] {
    display: block;
    background: url('img/submit.png') no-repeat top left;
    border: 0;
    text-indent: -9999px;
    cursor: pointer;
    width: 134px;
    height: 29px;
}
.work-box input[type="submit"]:hover {
    background: url('img/submit2.png') no-repeat top left;
}

/*****************************************************************************/
/*
/* Profile box
/*
/*****************************************************************************/
.profile-box {
    position: fixed;
    top: 340px;
    left: 50%;
    margin-left: 315px;
    height: 250px;
    min-height: 250px;
    padding: 1em;
    width: 300px;
    -moz-box-shadow: 1px 1px 12px #000;
    -webkit-box-shadow: 1px 1px 12px #000;
    -moz-border-radius-topleft: 16px;
    -moz-border-radius-topright: 16px;
    -webkit-border-top-left-radius: 16px;
    -webkit-border-top-right-radius: 16px;
    background: #f5fcf2;
}

.profile-box .title {
    text-align: center;
    margin: 16px auto 0 auto;
    padding-bottom: 0.3em;
    font-family: Georgia, freeserif, serif;
    font-size: 26px;
    font-weight: normal;
}
.profile-box label {
    cursor: pointer;
    display: inline-block;
    padding: 0.3em;
}


/*****************************************************************************/
/*
/* Profile box
/*
/*****************************************************************************/
.planner-box {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -635px;
    height: 100%;
    padding: 1em;
    width: 300px;
    -moz-box-shadow: 1px 1px 12px #000;
    -webkit-box-shadow: 1px 1px 12px #000;
    background: #f5fcf2;
}

.planner-box .title {
    text-align: center;
    margin: 16px auto 0 auto;
    padding-bottom: 0.3em;
    font-family: Georgia, freeserif, serif;
    font-size: 26px;
    font-weight: normal;
}

.planner
, .trash_tasks
, .archive {
    width: 324px;
}
.trash_tasks {
    background: #f5ebeb;
}
.planner {
    background: #f5f5f5;
}
.archive {
    background: #edf3f5;
}
.trash_tasks .title
, .planner .title
, .archive .title {
    margin: 0.3em 0;
}
.tasklist2 {
    width: 100%;
}
.tasklist2 .options {
    width: 2em;
}
.tasklist2 td:last-child  {
    display: block;
    height: 2em; overflow: hidden;
}
.tasklist2 td:first-child a {
    padding: 0 0.3em;
}
.tasklist2 td:first-child a {
    text-indent: -9999px;
    background: url('img/move.png') no-repeat center;
}
.tasklist2 td:first-child a:hover {
    background: url('img/move2.png') no-repeat center;
}

.btnSave, .btnDiscard {
    padding: 0 0.5em;
    text-decoration: none;
}

/* jqModal styling */
.jqmWindow {
    display: none;
    position: fixed;
    top: 17%;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    background: #eee;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay {
    background: #000;
}

/*****************************************************************************/
/*
/* Autocompletes
/*
/*****************************************************************************/
.autocomplete {
    position: absolute;
    list-style: none;
    background: #fff;
    width: 255px;
    padding: 0;
    border: 1px solid #ccc;
    border-top: none;
    margin-top: -1px;
}

.autocomplete li {
    padding-left: 10px;
    cursor: pointer;
}

.autocomplete li:hover
, .autocomplete li.active {
    background: #eee;
}

.work-box label.text {
    position: relative;
}
.groups_auto {
    bottom: -28px;
}