/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
body {
    font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
    font-size: 12px;
    padding: 0; margin: 0;
    line-height: 2em;
    background: #d6d6d6 url('img/bg-gradient.jpg') repeat-x;
}
.frt {
    float: right;
}
.flt {
    float: left;
}
.sh {
    display: none;
}
.cl {
    clear: both;
}
.center {
    display: block;
    width: 100%;
    text-align: center;
}
.hide {
    display: none;
}

a, a:visited {
    color: #56991a;
    outline: none;
}
a:hover {
    color: #71b236;
}

/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/
#content {
    width: 100%;
}
.nojs {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -38px;
    padding-top: 25px;
    text-align: center;
    width: 600px;
    height: 50px;
    -moz-box-shadow: 1px 1px 12px #000;
    -webkit-box-shadow: 1px 1px 12px #000;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    background: #f5fcf4;
}

.loading {
    display: none;
    width: 100%;
    background: url('img/wait2.gif') no-repeat center;
    opacity: 0.5;
    filter:alpha(opacity=50);
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    position: absolute;
    top: 0;
    padding: 1em 0;
    right: 0;
    z-index: 10000;
}

.spin {
    background: url('img/spin.gif') no-repeat center;
    display: inline-block;
    position: absolute;
    bottom: 14px;
    left: 190px;
    border: 0;
    text-indent: -9999px;
    cursor: pointer;
    width: 15px;
    height: 31px;
}

input[type="text"], input[type="password"] {
    border: 1px solid #d2e8c8;
    padding: 0 2px;
}

.info {
    color: #8f8f8f;
    font-size: 80%;
}

/*****************************************************************************/
/*
/* Task box
/*
/*****************************************************************************/
.task-box {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -320px;
    height: 100%;
    min-height: 300px;
    width: 640px;
    -moz-box-shadow: 1px 1px 12px #000;
    -webkit-box-shadow: 1px 1px 12px #000;
    -moz-border-radius-topleft: 16px;
    -moz-border-radius-topright: 16px;
    -webkit-border-top-left-radius: 16px;
    -webkit-border-top-right-radius: 16px;
    background: #fff;
}

.task-box .notasks {
    clear: left;
    text-align: center;
    padding: 2em 0;
}

.task-box .tabs .icon {
    background: url('/css/img/menu-bg.png') repeat-x;
    float: left;
    padding: 15px;
    cursor: pointer;
    position: relative;
}

.task-box .icon .c {
    font-size: 8px;
    color: #a2a2a2;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    text-align: center;
    width: 100%;
}
.task-box .tabs .icon:hover
, .task-box .tabs .icon.active {
    background: #fbfbfb;
}
.task-box .tabs .icon a {
    text-align: center;
    width: 22px;
    height: 20px;
    cursor: pointer;
    display: block;
    background: url('/css/img/sprite.png') no-repeat 0 0;
}
.task-box .tabs .icon.my-tasks {
    padding-left: 35px;
    -moz-border-radius-topleft: 16px;
    -webkit-border-top-left-radius: 16px;
}
.task-box .icon.my-tasks .c {
    width: 90px;
}
.task-box .tabs .icon.archive {
    -moz-border-radius-bottomright: 16px;
    -webkit-border-bottom-right-radius: 16px;
}
.task-box .tabs .icon.assignments a {
    background-position: -22px 0;
    width: 17px;
}
.task-box .tabs .icon.command {
    padding-top: 13px;
}
.task-box .tabs .icon.command a {
    background-position: -39px 0;
    width: 28px;
    height: 22px;
}
.task-box .tabs .icon.archive a {
    background-position: -68px 0;
    width: 23px;
}
.task-box .tabs .icon.my-tasks:hover a
, .task-box .tabs .icon.my-tasks.active a {
    background-position: 0 -31px;
}
.task-box .tabs .icon.assignments:hover a
, .task-box .tabs .icon.assignments.active a {
    background-position: -22px -31px;
}
.task-box .tabs .icon.command:hover a
, .task-box .tabs .icon.command.active a {
    background-position: -39px -31px;
}
.task-box .tabs .icon.archive:hover a
, .task-box .tabs .icon.archive.active a {
    background-position: -68px -31px;
}
.task-box .tabs a {
}
.task-box .title {
    text-align: center;
    padding: 15px 0 5px 0;
    margin: 0;
    width: 222px;
    height: 36px;
    font-family: Georgia, freeserif, serif;
    font-size: 26px;
    font-weight: normal;
}

.task-box .groups:hover .title {
    -moz-border-radius-topleft: 16px;
    -moz-border-radius-topright: 16px;
    -webkit-border-top-left-radius: 16px;
    -webkit-border-top-right-radius: 16px;
    background: #fbfbfb;
    -moz-box-shadow: 0px 0px 2px #000;
    -webkit-box-shadow: 0px 0px 2px #000;
    position: relative; z-index: 1;
}

.task-box .groups .title a {
    color: #000;
    text-decoration: none;
}
.task-box .groups {
    float: left;
    position: relative;
    width: 222px;
}
.task-box .groups:hover ul {
    display: block;
}

.task-box .groups a:hover {
    text-decoration: underline;
}

.task-box .groups ul {
   -moz-box-shadow: 0px 2px 2px #000;
    -webkit-box-shadow: 0px 2px 2px #000;
    display: none;
    list-style: none;
    width: 192px;
    list-style: none;
    line-height: 30px;
    margin: 0 0 0 -111px;
    padding: 0 15px 10px;
    top: 40px; left: 50%;
    position: absolute;
    background: #fbfbfb;
    z-index: 10;
    -moz-border-radius-bottomleft: 16px;
    -moz-border-radius-bottomright: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -webkit-border-bottom-right-radius: 16px;
    text-align: center;
}
.task-box .groups ul a {
    line-height: 1.8em;
    display: block;
    list-style: none;
    padding: 0 1em;
    margin: .5em 0;
    text-decoration: none;
}

.task-box .search {
    float: left;
    width: 112px;
    background: url('/css/img/menu-bg.png') repeat-x;
    height: 37px;
    padding: 15px 38px 0;
    -moz-border-radius-bottomleft: 16px;
    -moz-border-radius-topright: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -webkit-border-top-right-radius: 16px;
    line-height: 1em;
    position: relative;
}

.task-box .search input {
    width: 112px;
}

.task-box .search .icon a {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    background: url('/css/img/sprite.png') no-repeat -90px 0;
    left: 140px;
    top: 17px;
}
.task-box .search .icon:hover a {
    background-position: -90px -31px;
}

/*****************************************************************************/
/*
/* Task table
/*
/*****************************************************************************/
.task-table {
    width: 100%;
    margin: 0 auto;
}
.task-table .row {
    clear: both;
    height: 30px;
}
.task-table .row .td {
    float: left;
    padding: .3em .5em;
    height: 1.4em;
    margin: 0;
}
.task-table a {
    text-decoration: none;
    color: #c12;
}
.task-table input[type="text"] {
    width: 100%;
    border: 1px solid #d2e8c8;
}
.task-table .row:hover .sh {
    display: block;
}
.task-table .td span {
    display: block;
    height: 2em;
    overflow: hidden;
}
.editable .success {
    float: right;
    text-decoration: none !important;
    z-index: 1;
    top: -3em;
}
.task-table .td.followers span {
    display: inline;
}
.task-table .td.s {
    width: 13px;
    padding: 0;
    margin: 5px 9px 0 12px;
}
.task-table .md {
    padding: 0;
    margin: .35em .1em;
}
.task-table .p {
    width: 12px;
    height: 2em;
}
.task-table .p a {
    display: block;
    margin-top: 6px;
    height: 12px;
    width: 12px;
    background: url('/css/img/sprite.png') no-repeat -290px -31px;
}
.task-table .pri_1 a {
    background-position: -278px 0;
}
.task-table .pri_2 a {
    background-position: -290px 0;
}
.task-table .text {
    width: 445px;
}
.task-table .text span {
    margin: 0 3px;
    position: absolute;
    display: inline;
    width: 445px;
}
.task-table .text .g {
    color: #56991a;
}
.text.nogroup form.inplace {
    display: inline;
}
.text.nogroup form.inplace input {
    display: inline;
}
.done .text span {
    text-decoration: line-through;
}
.task-table .row:nth-child(2n) {
    background: #f5fcf4;
}
.task-table .row:hover .text span {
    background: #e9f0e6;
    height: auto;
    position: absolute;
    overflow: visible;
    z-index: 1;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
}
.loadbar .text span {
    background: url('img/loadbar.gif') no-repeat right;
}
.task-table .row:hover.loadbar .text span {
    background: #e9f0e6 url('img/loadbar.gif') no-repeat right;
}
.task-table .due {
    width: 65px;
    padding: 0;
    margin: 0;
    text-align: right;
}
.task-table .editable {
    display: block;
}
.task-table .del {
    width: 12px;
    height: 2em;
    margin: 0 9px 0 16px;
}
.task-table .del a {
    display: block;
    width: 12px;
    margin-top: 5px;
    height: 13px;
    text-indent: -9999px;
    background: url('/css/img/sprite.png') no-repeat -254px -31px;
}
.task-table .row:hover .del a {
    background-position: -254px 0;
}
.task-table .row:hover .followers > a {
    background-position: -244px 0;
}
.task-table .followers {
    position: relative;
    height: 2em;
    width: 10px;
}
.task-table .followers > a {
    display: block;
    width: 10px;
    height: 13px;
    margin-top: 5px;
    background: url('/css/img/sprite.png') no-repeat -244px -31px;
}
.task-table .followers ul {
    display: none;
    width: 120px;
    list-style: none;
    line-height: 30px;
    margin: 0;
    padding: 0;
    top: 0; left: 20px;
    position: absolute;
    background: #fbfbfb;
    z-index: 10;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
.task-table .followers * {
    cursor: pointer;
}
.task-table .followers li {
    list-style: none;
    padding: 0 .25em;
    margin: 0;
}
.task-table .followers li:first-child:hover {
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
.task-table .followers li:last-child:hover {
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    background: #eee;
}
.task-table .followers li:hover {
    background: #eee;
}
.task-table .followers:hover ul {
    display: block;
}
.task-table .row:hover {
    background-color: #e9f0e6;
}


/*****************************************************************************/
/*
/* Pager
/*
/*****************************************************************************/
.pager {
    position: absolute;
    width: 100%;
    bottom: 0;
    list-style: none;
    padding: .5em 0 0 0;
    text-align: center;
}
.pager li {
    display: inline;
    list-style: none;
}
.pager a, .pager span {
    text-align: center;
    display: inline-block;
    padding: 0 .5em;
    margin: 0;
    text-decoration: none;
    color: #000;
    outline: 0;
}
.pager a:hover
, .pager .current {
    color: #c12;
}

/*****************************************************************************/
/*
/* Work box
/*
/*****************************************************************************/
.work-box {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: 340px;
    height: 310px;
    min-height: 310px;
    padding: 12px;
    width: 246px;
    -moz-box-shadow: 1px 1px 12px #000;
    -webkit-box-shadow: 1px 1px 12px #000;
    -moz-border-radius-bottomleft: 16px;
    -moz-border-radius-bottomright: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -webkit-border-bottom-right-radius: 16px;
    background: #f5fcf4;
}

.work-box .title {
    text-align: center;
    margin: 12px auto 0 auto;
    padding-bottom: .3em;
    font-family: Georgia, freeserif, serif;
    font-size: 26px;
    font-weight: normal;
}
.work-box label {
    cursor: pointer;
    display: inline-block;
    padding: .3em;
}

.work-box div.label {
    cursor: pointer;
    display: inline-block;
}

.work-box textarea {
    width: 234px;
    border: 1px solid #d2e8c8;
}
.work-box input[type="text"] {
    width: 108px;
}

.work-box .due
, .work-box .share {
    position: relative;
}
.work-box .due {
    top: -3px;
}
.work-box .due-icon {
    position: absolute;
    display: block;
    background: url('/css/img/sprite.png') no-repeat -302px 0;
    bottom: 8px;
    left: 102px;
    width: 14px;
    height: 14px;
    padding: 0;
}
.work-box .share-icon {
    position: absolute;
    display: block;
    background: url('/css/img/sprite.png') no-repeat -244px 0;
    width: 10px;
    height: 13px;
    bottom: 8px;
    right: 2px;
    padding: 0;
    z-index: 1500;
}

.work-box .share ul {
    list-style: none;
    line-height: 1em;
    position: absolute;
    top: 35px;
    display: none;
    background: #fff;
    width: 112px;
    padding: 0;
    border: 1px solid #ccc;
    z-index: 1000;
}
.work-box .share li span {
    display: inline-block;
    width: 70px;
}
.work-box .share li:hover,
.work-box .share li.active {
    background: #eee;
}
.work-box .share input {
    cursor: pointer;
}
.work-box .share .input {
    width: 108px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #d2e8c8;
    display: inline-block;
    padding: 0 2px;
    line-height: 1.45em;
    height: 18px;
    overflow: hidden;
    top: 2px;
    position: relative;
}
.work-box .share:hover ul {
    display: block;
}
.work-box .share input[type="text"] {
    background: #eee;
}
.work-box .priority > span:first-child {
    padding: .3em;
    cursor: default;
}
.work-box .priority span {
    cursor: pointer;
}
.work-box .priority .p {
    border: 1px solid #f5fcf4;
    display: inline-block;
    height: 20px;
    width: 66px;
    padding: 0 3px 3px 3px;
}
.work-box .priority .p.p-1 {
    width: 46px;
    margin-right: 20px;
}
.work-box .priority > span:first-child {
    margin-right: 10px;
}
.work-box .priority .p-1.s {
    background-color: #f5e6e4;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.work-box .priority .p-2.s {
    background-color: #faeac2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.work-box .img {
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    top: 2px;
    background: url('/css/img/sprite.png') no-repeat -278px 0;
}
.work-box .img.me {
    background-position: -290px 0;
}
.work-box input[name="add"] {
    display: block;
    position: absolute;
    bottom: 14px;
    left: 14px;
    background: url('/css/img/sprite.png') no-repeat -317px 0;
    border: 0;
    text-indent: -9999px;
    cursor: pointer;
    width: 124px;
    height: 31px;
}
.work-box input[name="add"]:hover {
    background-position: -317px -31px;
}
.work-box input[name="plan"] {
    display: block;
    position: absolute;
    bottom: 14px;
    left: 138px;
    background: url('/css/img/sprite.png') no-repeat -441px 0;
    border: 0;
    text-indent: -9999px;
    cursor: pointer;
    width: 52px;
    height: 31px;
}
.work-box input[name="plan"]:hover {
    background-position: -441px -31px;
}

.work-box .clear {
    position: absolute;
    display: block;
    height: 31px;
    bottom: 14px;
    left: 204px;
    text-decoration: none;
}

/*****************************************************************************/
/*
/* Profile box
/*
/*****************************************************************************/
.profile-box {
    position: fixed;
    top: 340px;
    left: 50%;
    margin-left: 340px;
    min-height: 257px;
    padding: 12px;
    width: 246px;
    -moz-box-shadow: 1px 1px 12px #000;
    -webkit-box-shadow: 1px 1px 12px #000;
    -moz-border-radius-topleft: 16px;
    -moz-border-radius-topright: 16px;
    -webkit-border-top-left-radius: 16px;
    -webkit-border-top-right-radius: 16px;
    background: #fff;
    line-height: 1.6em;
}
.profile-box .loading {
    background: #fff url('img/wait2.gif') no-repeat center;
}

.profile-box .title {
    text-align: center;
    margin: 16px auto 0 auto;
    padding-bottom: .3em;
    font-family: Georgia, freeserif, serif;
    font-size: 26px;
    font-weight: normal;
}
.profile-box label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: .3em;
}

.profile-box .info-box {
    color: #8f8f8f;
    font-size: 80%;
    display: block;
}
.profile-box .steps {
    float: right;
    margin-right: -40px;
}
.profile-box .steps .on {
    font-weight: bold;
}

.profile-box input[type="text"] {
    width: 232px;
}
.profile-box input[type="password"] {
    width: 188px;
}

.profile-box .submit {
    cursor: pointer;
    display: block;
    text-align: center;
    position: absolute;
    color: #000;
    top: 23px;
    right: -40px;
    background: #d2e8c8;
    border: 0;
    padding: 0; margin: 0;
    height: 20px;
    width: 50px;
    font-family: Georgia, "Times New Roman", Times, freeserif, serif;
}

.profile-box .links {
    display: block;
    text-align: center;
    margin-top: 1em;
}

.profile-box .links a {
    padding: .2em 1em;
}

/*****************************************************************************/
/*
/* Planner box
/*
/*****************************************************************************/
.planner-box {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -610px;
    height: 50%;
    width: 260px;
    -moz-box-shadow: 1px 12px 12px #000;
    -webkit-box-shadow: 1px 12px 12px #000;
    background: #fff;
}

.planner-box .title {
    text-align: center;
    margin: 16px auto 0 auto;
    padding-bottom: .3em;
    font-family: Georgia, freeserif, serif;
    font-size: 26px;
    font-weight: normal;
}

.planner-box .row:nth-child(2n) {
    background: #f5fcf4;
}

.planner-box .row:hover {
    background-color: #e9f0e6;
}

.planner-table {
    margin: 0;
    padding: 0;
    width: 100%;
}

.planner-table .row {
    clear: both;
    padding: 0 .5em;
    height: 30px;
}
.planner-table .row .td {
    float: left;
    margin: 0;
}
.planner-table .row:hover {
    padding-left: 0;
}
.planner-table .row:hover .text {
    padding-left: .5em;
    background: #e9f0e6;
    height: auto;
    position: absolute;
    overflow: visible;
    z-index: 1;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
}
.planner-table .text {
    display: block;
    height: 2em;
    overflow: hidden;
    width: 210px;
}

.planner-table .del
, .planner-table .plan {
    position: absolute;
    left: 240px;
    width: 12px;
    height: 2em;
    margin: 0;
}
.planner-table .plan {
    left: 220px;
}
.planner-table .del a
, .planner-table .plan a {
    display: block;
    width: 12px;
    margin-top: 5px;
    height: 13px;
    text-indent: -9999px;
    background: url('/css/img/sprite.png') no-repeat -254px -31px;
}
.planner-table .plan a {
    background: url('/css/img/sprite.png') no-repeat -266px -31px;
}
.planner-table .row:hover .del a {
    background-position: -254px 0;
}
.planner-table .row:hover .plan a {
    background-position: -266px 0;
}

/*****************************************************************************/
/*
/* Trash box
/*
/*****************************************************************************/
.trash-box {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -610px;
    height: 50%;
    width: 260px;
    -moz-box-shadow: 1px 12px 12px #000;
    -webkit-box-shadow: 1px 12px 12px #000;
    background: #fff;
}

.trash-box .title {
    text-align: center;
    margin: 16px auto 0 auto;
    padding-bottom: .3em;
    font-family: Georgia, freeserif, serif;
    font-size: 26px;
    font-weight: normal;
}

.trash-box .row:nth-child(2n) {
    background: #f5fcf4;
}

.trash-box .row:hover {
    background-color: #e9f0e6;
}

.trash-table {
    margin: 0;
    padding: 0;
    width: 100%;
}

.trash-table .row {
    clear: both;
    height: 30px;
    padding: 0 .5em;
}
.trash-table .row .td {
    float: left;
    margin: 0;
}
.trash-table .row:hover {
    padding-left: 0;
}
.trash-table .row:hover .text {
    padding-left: .5em;
    background: #e9f0e6;
    height: auto;
    position: absolute;
    overflow: visible;
    z-index: 1;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
}
.trash-table .text {
    display: block;
    height: 2em;
    overflow: hidden;
    width: 210px;
}

.trash-table .del
, .trash-table .plan {
    position: absolute;
    left: 240px;
    width: 12px;
    height: 2em;
    margin: 0;
}
.trash-table .plan {
    left: 220px;
}
.trash-table .del a
, .trash-table .plan a {
    display: block;
    width: 12px;
    margin-top: 5px;
    height: 13px;
    text-indent: -9999px;
    background: url('/css/img/sprite.png') no-repeat -254px -31px;
}
.trash-table .plan a {
    background: url('/css/img/sprite.png') no-repeat -266px -31px;
}
.trash-table .row:hover .del a {
    background-position: -254px 0;
}
.trash-table .row:hover .plan a {
    background-position: -266px 0;
}

/* jqModal styling */
.jqmWindow {
    display: none;
    position: fixed;
    top: 17%;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    background: #eee;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay {
    background: #000;
}

/*****************************************************************************/
/*
/* Autocompletes
/*
/*****************************************************************************/
.autocomplete {
    position: absolute;
    list-style: none;
    background: #fff;
    width: 150px;
    padding: 0;
    border: 1px solid #ccc;
    border-top: none;
    margin-top: -1px;
}

.autocomplete li {
    padding-left: 10px;
    cursor: pointer;
}

.autocomplete li:hover
, .autocomplete li.active {
    background: #eee;
}

.work-box label.text {
    position: relative;
}
.groups_auto {
    bottom: -28px;
}